
<div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
      data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
      data-class-sm="navbar content-navbar navbar-default navbar-xs">
    <div class="navbar-header">
        <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse">
            {{title}}
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <co-search ng-model="paramObj.keyword" ng-if="search"></co-search>
        <div class="navbar-btn navbar-right hide-xs" ng-if="addBtnText">
          <a ng-click="addData()" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            {{addBtnText}}
          </a>
        </div>
    </div>
</div>
<co-grid fields="gridOptions.fields" grid-data="gridData" actions="gridOptions.actions" sort="paramObj.sort" sort-by="paramObj.sortBy" on-delete-item="deleteData(item, action)" on-edit-item="editData(item, action)"></co-grid>
<pagination items-per-page="paginationOptions.itemsPerPage" rotate="false" total-items="totalItems" max-size="paginationOptions.maxSize" page="paramObj.page" class="dataTables_paginate"></pagination>
