:host {
    height: 50px;
    width: 100%;
    margin-top: 4px;
    line-height: 50px;
}

.logo {
    display: inline-block;
    max-width: 400px;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

paper-dropdown {
    color: #333;
    background: transparent;
    padding: 0;
}

paper-dropdown::shadow #control {
    font-size: 14px;
    max-height: 40px;
    color: #666;
    border-bottom: 1px solid #ddd;
}

paper-dropdown::shadow #control > div {
    padding: 0;
}

paper-dropdown::shadow #control core-icon {
    padding-top: 13px;
}

paper-menu-button {
    padding: 0 8px;
}

paper-menu-button::shadow #menu {
    background-color: #666;
}

.username {
    font-size: 14px;
    color: #666;
}
