<form class="form-horizontal row" name="v_form" novalidate>
    <div class="col-sm-12 form-group" ng-repeat="field in fields">
        <div ng-if="field.editable">
            <label for="id_name" class="col-sm-2 control-label">
                {{field.title}}<span class="text-danger" ng-if="field.validate.required">*</span>
            </label>
            <div class="col-sm-10"
                ng-if="field.editType=='text' || field.editType=='password'
                  || field.editType=='number' || field.editType=='email'">
                <input
                    class="form-control"
                    dynamic-name="field.field"
                    ng-model="formData[field.field]"
                    type="{{field.editType}}"
                    placeholder="{{field.placeholder}}"
                    ng-required="{{field.validate.required.value}}"
                    ng-minlength="{{field.validate.minlength.value}}"
                    ng-maxlength="{{field.validate.maxlength.value}}"
                    ng-pattern="{{field.validate.pattern.value}}"
                    >
                <co-input-tip help="field.help" custom-msg="customMsg[field.field]" validator="field.validate" for="field.field"></co-input-tip>
            </div>
            <div class="col-sm-10" ng-if="field.editType=='textarea'">
                <textarea
                    class="form-control"
                    dynamic-name="field.field"
                    ng-model="formData[field.field]"
                    rows="3"
                    placeholder="{{field.placeholder}}"
                    ng-required="{{field.validate.required.value}}"
                    ng-minlength="{{field.validate.minlength.value}}"
                    ng-maxlength="{{field.validate.maxlength.value}}"
                    ng-pattern="{{field.validate.pattern.value}}"
                    ></textarea>
                <co-input-tip help="field.help" custom-msg="customMsg[field.field]" validator="field.validate" for="field.field"></co-input-tip>
            </div>
            <div class="col-sm-10" ng-if="field.editType=='select'">
                <select
                    class="form-control"
                    dynamic-name="field.field"
                    ng-model="formData[field.field]"
                    ng-options="options.value as options.text for options in field.selectOptions"
                    ng-required="{{field.validate.required.value}}"
                    ng-minlength="{{field.validate.minlength.value}}"
                    ng-maxlength="{{field.validate.maxlength.value}}"
                    ng-pattern="{{field.validate.pattern.value}}"
                    help="field.help"
                    custom-msg="customMsg[field.field]"
                    >
                    <option value="">--请选择--</option>
                </select>
                <co-input-tip help="field.help" custom-msg="customMsg[field.field]" validator="field.validate" for="field.field"></co-input-tip>
            </div>
            <div class="col-sm-10" ng-if="field.editType=='radio'">
                <div class="radio" ng-repeat="options in field.radioOptions">
                    <label>
                        <input
                            type="radio"
                            dynamic-name="field.field"
                            ng-model="formData[field.field]"
                            ng-value="options.value"
                            ng-required="{{field.validate.required.value}}"
                            custom-msg="customMsg[field.field]"
                            >
                        {{options.text || options.value}}
                    </label>
                </div>
                <co-input-tip help="field.help" custom-msg="customMsg[field.field]" validator="field.validate" for="field.field"></co-input-tip>
            </div>
            <div class="col-sm-10" ng-if="field.editType=='checkbox'">
                <div class="checkbox" ng-repeat="options in field.checkboxOptions">
                    <label>
                        <input
                            type="checkbox"
                            dynamic-name="field.field"
                            checklist-model="formData[field.field]"
                            checklist-value="options.value"
                            custom-msg="customMsg[field.field]"
                            >
                        {{options.text || options.value}}
                    </label>
                </div>
                <co-input-tip help="field.help" custom-msg="customMsg[field.field]" validator="field.validate" for="field.field"></co-input-tip>
            </div>
        </div>
    </div>
    <div class="col-sm-12 form-group form-group-sm">
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok(formData)">OK</button>
        </div>
    </div>
</form>
