<form class="form-horizontal row" name="v_form" novalidate>
    <div class="col-sm-12 form-group" ng-repeat="field in fields">
        <div ng-if="field.editable">
            <label for="id_name" class="col-sm-2 control-label">
                {{field.title}}<span class="red" ng-if="field.validate.required">*</span>
            </label>
            <div class="col-sm-10"
                ng-if="field.editType=='text' || field.editType=='password'
                  || field.editType=='number' || field.editType=='email'">
                <input
                    class="form-control"
                    dynamic-name="field.field"
                    ng-model="formData[field.field]"
                    type="{{field.editType}}"
                    placeholder="{{field.placeholder}}"
                    ng-required="{{field.validate.required.value}}"
                    ng-minlength="{{field.validate.minlength.value}}"
                    ng-maxlength="{{field.validate.maxlength.value}}"
                    ng-pattern="{{field.validate.pattern.value}}"
                    help="field.help"
                    customMsg="{{customMsg[field.field]}}"
                    co-validator="field.validate"
                    >
            </div>
            <div class="col-sm-10" ng-if="field.editType=='textarea'">
                <textarea
                    class="form-control"
                    dynamic-name="field.field"
                    ng-model="formData[field.field]"
                    rows="3"
                    placeholder="{{field.placeholder}}"
                    ng-required="{{field.validate.required.value}}"
                    ng-minlength="{{field.validate.minlength.value}}"
                    ng-maxlength="{{field.validate.maxlength.value}}"
                    ng-pattern="{{field.validate.pattern.value}}"
                    help="field.help"
                    customMsg="{{customMsg[field.field]}}"
                    co-validator="field.validate"></textarea>
            </div>
            <div class="col-sm-10" ng-if="field.editType=='select'">
                <select
                    class="form-control"
                    selected='0'
                    dynamic-name="field.field"
                    ng-model="formData[field.field]"
                    ng-options="options.value as options.text for options in field.selectOptions"
                    ng-required="{{field.validate.required.value}}"
                    ng-minlength="{{field.validate.minlength.value}}"
                    ng-maxlength="{{field.validate.maxlength.value}}"
                    ng-pattern="{{field.validate.pattern.value}}"
                    help="field.help"
                    customMsg="{{customMsg[field.field]}}"
                    co-validator="field.validate">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-12 form-group form-group-sm">
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok(formData)">OK</button>
        </div>
    </div>
</form>
