<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="action-checkbox-column" ng-if="multiChoose">
                <input type="checkbox" id="action-toggle">
            </th>
            <th ng-repeat="item in fields" class="sortable sorted descending">
                <co-sort ng-if="item.sortable" sort="sortObj.sort" sort-by="sortObj.sortBy" sort-by-field="item.field">
                    {{item.title}}
                </co-sort>
                <span ng-if="!item.sortable">
                    {{item.title}}
                </span>
            </th>
            <th ng-if="actions">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="grid-item" ng-repeat="item in gridData">
            <td class="action-checkbox" ng-if="multiChoose">
                <input class="action-select" name="_selected_action" type="checkbox" value="57">
            </td>
            <td class="action-checkbox" ng-repeat="cell in fields">
                {{ cell.content ? cell.content(item, cell) : item[cell.field]}}
            </td>
            <td ng-if="actions">
                <div class="dropdown related_menu pull-right">
                    <a title="操作" class="relate_menu dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-list"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="with_menu_btn" ng-repeat="action in actions">
                            <a ng-click="deleteAction(item, action)" title="删除" ng-if="action.type === 'delete'">
                                <i class="fa fa-remove"></i> {{action.title}}
                            </a>
                            <a ng-click="editAction(item, action)" title="编辑" ng-if="action.type === 'edit'">
                                <i class="fa fa-edit"></i> {{action.title}}
                            </a>
                            <a ng-href="{{action.url}}" title="link" target="_blank" ng-if="action.type === 'link'">
                                <i class="fa fa-external-link"></i> {{action.title}}
                            </a>
                            <a ng-click="customAction(item, action)" title="link" target="_blank" ng-if="action.type === 'custom'">
                                <i class="fa fa-external-link"></i> {{action.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
